
<p class="bc-explain"> 
    With map, we actually change the type of the parent object. 
    <br />
    Here the parent object is an event, then we map to a normal value so we extract the target value from all
    <br />
    Then we filter the value. Here we filter on positif numbers only
    <br />
    An then map again and send a json object. So the final return of the object become an anonymous json object
    <br />
    It's like fish. Map: clean up, cook. Filter: filter the fishbone
    <br />
</p>

<input id="demo" type="text" />

<div>
    <p> Message from map console: </p>
    <p> {{ message }} </p>
</div>
