
<p class="bc-explain">
    When you click on subscription you will recieve the initial value which is 999 or the last value.
</p>

<button (click)="broadcastClick()">broadcast subject</button>

<hr />

<button (click)="subscriber1Click()">Subscriber 1</button>
<button (click)="unsubscriber1Click()">Unsubscriber 1</button>
<br /><br />
<button (click)="subscriber2Click()">Subscriber 2</button>
<button (click)="unsubscriber2Click()">Unsubscriber 2</button>


<br />
<br />
<div>
    <textarea  class="bc-textarea"> {{ message }} </textarea>
</div>