<div>
  <h3>General</h3>
</div>
<div [formGroup]="parentFormGroup">
    <div class="form-group row">
      <label for="id-for-id" class="col-3 col-form-label">Id</label>
      <div class="col-9">
        <input class="form-control" formControlName="id" type="text" id="id-for-id">
      </div>
    </div>
    <div class="form-group row">
        <label for="id-for-name" class="col-3 col-form-label">Name</label>
        <div class="col-9">
          <input class="form-control" formControlName="name" type="text" id="id-for-name">
        </div>
      </div>
      <div class="form-group row">
        <label for="id-for-legalName" class="col-3 col-form-label">Legal Name:</label>
        <div class="col-9">
          <input class="form-control" formControlName="legalName" type="text" id="id-for-legalName">
        </div>
      </div>
      <div class="form-group row">
        <label for="id-for-umbrella" class="col-3 col-form-label">Umbrella</label>
        <div class="col-9">
          <input class="form-control" formControlName="umbrella" type="text" id="id-for-umbrella">
        </div>
      </div>
      <div class="form-group row">
        <label for="id-for-creationDate" class="col-3 col-form-label">Creation Date:</label>
        <div class="col-9">
          <input class="form-control" formControlName="creationDate" type="text" id="id-for-creationDate">
        </div>
      </div>
</div>


