
<p class="bc-explain"> 
    When a new subscripter arrive, it will get all the old value of broadcast.
    <br />
    Users will only subscribe and wait. It's the button broadcast will send the values to the users.
    <br />
    When a new subscription arrive, subscribter will recover all the old values generated 
</p>

<button (click)="broadcastClick()">broadcast subject</button>

<hr />

<button (click)="subscriber1Click()">Subscriber 1</button>
<button (click)="unsubscriber1Click()">Unsubscriber 1</button>
<br /><br />
<button (click)="subscriber2Click()">Subscriber 2</button>
<button (click)="unsubscriber2Click()">Unsubscriber 2</button>


<br />
<br />
<div>
    <textarea  class="bc-textarea"> {{ message }} </textarea>
</div>